* {
    font-family: "ubuntu";
}

#Header {
    display: flex;
    border: 1px solid blue;
    column-gap: 30px;
}

#Header>div:nth-of-type(2) {
    min-width: 500px;
    
}

#Header_Content {
    display: flex;
    flex-direction: column;
}

#name{
    font-size: 30px;
    font-weight: bold;
}

#role{
    font-size: 20px;
    font-weight: lighter;
}

#aboutme {
    align-self: self-end;
    font-size: 20px;
    font-weight: lighter;
    margin-top: 1px;
    border: 1px solid black;
    border-radius: 10px;
    padding:10px 10px;
    max-width: 700px;
}

.image {
    position: relative;
    image-rendering: optimizeQuality ;
    background-color: aqua;
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
    margin-top: 10px;
    box-shadow: 5px 5px orangered;
    border-radius: 10px;
}


#nav {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    font-size: 12px;
    width: 200px;
}

#nav>div {
    border: 1px solid black;
    font-size: 20px;
    height: 50px;
    align-content: center;
    text-align: center;
}

#nav>div:nth-of-type(1) {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

#nav>div:last-of-type {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

#nav>div:hover {
    padding-left: 10px;
    border-left: 10px solid blue;
    background-color:aquamarine;
    
}

#Education_Title {
    display: flex;
    flex-direction: row;    
    align-items: center;
    column-gap: 10px;
}

#Education_Title>div:nth-of-type(1) {
    display: flex;
    position: relative;
    background-color:transparent;
    border-radius: 50%;
    background-color: blue;
    width: 80px;
    height: 80px;
    justify-content: center;
    align-items: center;
    

}

#Education_Title>div:nth-of-type(1)::after {
    display: flex;
    content: '';
    background-color: brown;
    width: 80px;
    height: 80px;
    top: 0px;
    border-radius: 100%;
}

#Education_Title>div:nth-of-type(1)>img {
    border-radius: 100%;
    justify-content: center;
}

#Education_Title>div:nth-of-type(1)>img::after {
    content: "JEEE";
}