* {
    font-family: "ubuntu";
}

#Header {
    display: flex;
    border: 1px solid blue;
    column-gap: 30px;
}

#name{
    font-size: 30px;
    font-weight: bold;
}

#role{
    font-size: 20px;
    font-weight: lighter;
}

#aboutme {
    align-self: self-end;
    font-size: 20px;
    font-weight: lighter;
    margin-top: 1px;
    border: 1px solid black;
    border-radius: 10px;
    padding:10px 10px;
    max-width: 700px;
}

.image {
    position: relative;
    image-rendering: optimizeQuality ;
    background-color: aqua;
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}


#nav {
    display: flex;
    flex-direction: column;
}

#nav>div {
    border: 1px solid black;
    font-size: 25px;
    height: 50px;
    align-content: center;
    text-align: center;
}

#nav>div:nth-of-type(1) {
    border-top-right-radius: 10px;
}

#nav>div:last-of-type {
    border-bottom-right-radius: 10px;
}

#nav>div:hover {
    padding-left: 10px;
    border-left: 10px solid blue;
    background-color:aquamarine;
    
}