* {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0px;
}


.section1 {
    background-color: black;
    padding: 20px 40px;
    text-align: center;
}

.section1>a {
    color: white;
}

.section2 {
    background-image: url('resource/Background Image.webp');
    image-orientation: flip;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 725px;
}

#menu1 {
    display: flex;
    flex-direction: row;
    background-color: blue;
    height: 80px;
    background-color: transparent;
    color: white;
    align-items: center;
    justify-content: center;

}



.left_logo {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    text-align: right;
    align-items: center;
    font-weight: bold;
    font-size: 22px;
}

.left_logo>svg {
    margin-left: 100px;
}

.menu1_center {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.menu1_center>div {
    display: inline-block;
    text-align: center;
    width: 120px;
    margin-top: 30px;
    height: 50px;
}

.menu1_center>div:hover {
    border: 1px solid white;
    border-top: 1px;
    border-left: 1px;
    border-right: 1px;
}




.menu2_right {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.menu2_right>div:nth-of-type(1)
{
    width:200px;
}



.text_center {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

