/**/
body {
    background-color: black;
}

div {
    position: relative;
    border-radius: 100%;
    width: 200px;
    height: 200px;
    background-color: white;
    transform: scale(1,1);
}


@keyframes roll {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


div>div:nth-child(1) {
    display: inline-block;
    position: absolute;
    border-radius: 0%;
    border-top-left-radius: 100%;
    width: 50%;
    height: 50%;
    top: 0%;
    left: 0%;
    transform-origin: bottom right;
    background-color:blue;     
    animation: roll 3s linear infinite normal;
    
}

div>div:nth-child(2) {
    display: inline-block;
    border-radius: 100%;
    top: 10%;
    left:10%;
    width: 80%;
    height: 80%;
    background-color:whitesmoke;    
}

